.marquee {
  background: #fff;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 0;
  padding-top: 12px;
}

.marquee .scroll {
  width: 100%;
  display: flex;
}

.marquee .scroll div {
  height: 36px;
  color: forestgreen;
  font-size: 18px;
  background: #fff;
  white-space: nowrap;
  font-weight: 500;
  animation: animate-marquee 80s linear infinite;
  animation-delay: -40s;
  vertical-align: middle;
}

.marquee .scroll div:nth-child(2) {
  animation: animate-marquee-2 80s linear infinite;
  animation-delay: -80s;
}

.marquee .scroll div .category {
  /*padding: 0px 10px;*/
}

.category {
  padding: 0 10px;
  color: forestgreen;
  font-size: 16px;
  font-weight: 600 !important;
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  line-height: 20px;
}


/*Responsive marquee*/
@media (max-width:767px) {
  .category {
    font-size: 16px;
  }

  .marquee .scroll div {
    font-size: 16px;
  }
}

@keyframes animate-marquee {
  0% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@keyframes animate-marquee-2 {
  0% {
    -moz-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }

  100% {
    -moz-transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
  }
}
